@use "../../../indents.scss" as *;
@use "../../../typography.scss" as *;

:host {
    display: grid;
    grid-template-columns: $indent-xl 1fr;
    grid-gap: 12px;

    &.is-mine{
        grid-template-columns: min-content $indent-xl;
        justify-self: end;

        & .ui-chats-workspace-message__container {
            order: -1;
        }
    }
}

.ui-chats-workspace-message {
    &__link {
        @include button-1;
    }
    &__time {
        @include text-regular-1;
    }
    &__text {
        width: min-content;
        padding: $indent-s 12px;
        @include text-medium-2;
        color: var(--light-color);
        background-color: var(--dark-message-color);

    }
}