@use "../../../indents.scss" as *;
@use "../../../typography.scss" as *;

:host {
	display: grid;
	grid-template-columns: $indent-xl 1fr;
	grid-gap: 12px;

	&.is-mine {
		grid-template-columns: min-content $indent-xl;
		align-self: end;
		padding-right: $indent-l;

		& .ui-chats-workspace-message {
			&__container {
				flex-direction: column;
				justify-content: end;
				align-items: flex-end;
				display: flex;
				order: -1;
			}

			&__text {
				mask: linear-gradient(#000 0 0),
					linear-gradient(-135deg, #000 50%, #0000 0) border-box 100%
						100% / 200% 200% no-repeat;
				mask-composite: exclude;
				mask-position: 10% 94%;
				background-color: var(--primary-color);
			}
		}
	}
}

.ui-chats-workspace-message {
	&__link {
		@include button-1;
	}
	&__time {
		@include text-regular-1;
	}
	&__text {
		width: min-content;
		padding: $indent-s 12px;
		@include text-medium-2;
		color: var(--light-color);
		background-color: var(--dark-message-color);

		mask: linear-gradient(#000 0 0),
			linear-gradient(135deg, #000 50%, #0000 0) border-box 100% 100% /
				200% 200% no-repeat;
		mask-composite: exclude;
		mask-position: 94% 77%;
	}

	&__message {
		display: flex;
		width: max-content;
		margin-bottom: $indent-xs;
	}
}
