@use "../../../indents.scss" as *;

:host {
    display: grid;
    padding: $indent-m 20px;
    height: 100%;
    overflow-y: auto;
    grid-template-rows: 1fr min-content;
}

.ui-chats-workspace-messages-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;

    &__date {
        margin-top: 32px;
        margin-bottom: 32px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 6px 30px;
        background-color: #171918;

        &.first {
            margin-top: 0;
        }
    }
}