@use '../../../indents.scss' as *;

.tag {
    &__skill {
        display: inline-flex;
        padding: $indent-xs $indent-s;
        border-radius: $indent-xs;
        border: 1px solid var(--light-color);
        font-size: 12px;
        font-weight: 700;
    }
}