@use '../../../indents.scss' as *;

.profile {
    &-card {
        border: var(--light-border);
        padding: $indent-xl $indent-l;
        display: grid;
        grid-template-columns:  minmax(20px, 22%) minmax(20px, 27%) minmax(200px, 19%) minmax(200px, 22%);
        grid-gap: $indent-xl;
        align-items: center;

        &__user {
            display: grid;
            grid-template-columns: 70px auto;
            grid-gap: 20px;
            align-items: center;

            &-avatar {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
            }

            &-name {
                max-width: fit-content;
                display: flex;
                flex-direction: column;
                gap: $indent-s;
            }
        }

        &__description {
            align-self: flex-start;
        }
        
        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: $indent-xs;
            max-height: fit-content;
        }

        &__actions {
            justify-self: flex-end;
        }
    }
}