@use '../../../indents.scss' as *;

:host {
    display: block;
    border-right: var(--light-border);
}
.ui-chats-list {
    &__input-wrapper {
        padding: $indent-m 20px;
        border-bottom: var(--light-border);
    }
}