@use "../../../typography.scss" as *;
@use '../../../indents.scss' as *;

:host {
	background-color: var(--dark-color);
	border: var(--light-border);
	padding: 20px;
	display: grid;
	grid-template-columns: $indent-xl 1fr;
	grid-gap: $indent-m;
}

.ui-post {
	&__content {
		display: grid;
		grid-gap: 12px;
	}

	&__author {
		@include text-regular-2;
	}

	&__created-at {
		color: var(--light-transparent-color);
		@include text-medium-1;
	}

    &__text {
        margin-bottom: $indent-s;
		@include text-medium-1;
	}

    &__counters {
        margin-bottom: $indent-m;
        display: flex;
        gap: 6px;
        align-items: center;
        color: var(--primary-color);
    }

    &__count {
        @include button-1;
    }

    &__svg {
        width: $indent-m;
        height: $indent-m;
    }

    &__comments {
	    max-height: 150px;
        overflow-y: auto;
        display: grid;
        grid-gap: $indent-s;
    }
}
