.profile {
    &-card {
        border: 1px solid var(--light-color);
        padding: 32px 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;

        &__user {
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-gap: 20px;

            &-avatar {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
            }

            &-name {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &__tags {
            display: flex;
            gap: 4px;
        }
    }
}