<img src="/assets/img/logo.svg" alt="logo" class="side-bar__logo" />

<nav>
	<ul class="side-bar__menu-list">
		@for (item of menuItems; track $index) {
		<li class="side-bar__menu-item">
			<a
				class="side-bar__menu-button"
				[routerLink]="item.link"
				routerLinkActive="active"
			>
				<svg [icon]="item.icon" class="side-bar__menu-svg"></svg>
				<span>{{ item.label }}</span>
			</a>
		</li>
		}
	</ul>
</nav>

<p class="side-bar__title">Подписчики</p>

<div class="side-bar__subscribers">
	@for (profile of subscribers$ | async; track profile.id) {
	<ui-subscriber-card [profile]="profile"></ui-subscriber-card>
	}
</div>

<div class="side-bar__actions">
	<a [routerLink]="['/subscribers']" class="side-bar__actions-link">
		Все подписчики
	</a>
	<svg icon="arrow" class="side-bar__actions-svg"></svg>
</div>

<footer class="side-bar__footer">
	@if(me(); as me) { @if(me.avatarUrl) {
	<img
		[src]="me.avatarUrl | imgUrl"
		[alt]="me.firstName"
		class="side-bar__footer-img"
	/>
	} @else {
	<img
		src="/assets/img/icons/avatar-placeholder.svg"
		[alt]="me.firstName"
		class="side-bar__footer-img"
	/>
	}

	<div class="side-bar__footer-username">
		{{ me.username }}
	</div>

	<a class="side-bar__footer-link" [routerLink]="['settings']">
		<svg icon="settings" class="side-bar__footer-icon"></svg>
	</a>
	}
</footer>
