@use '../../../typography.scss' as *;
@use '../../../indents.scss' as *;

:host {
    display: grid;
    grid-template-columns: $indent-xl 1fr;
    grid-gap: 12px;
    padding: $indent-s 0;
    align-items: center;
    @include button-2;
}

.ui-subscriber {

    &__img {
        width: $indent-xl;
        height: $indent-xl;
        border-radius: 50%;
    }
}