:host {
    display: flex;
    height: 100vh;
}

.chats-page {
    &__section {
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 380px 1fr;
        background-color: var(--dark-color);
        border: var(--light-border);
        overflow: hidden;
    }
}