@use '../../../typography.scss' as *;
@use '../../../indents.scss' as *;

:host {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    background-color: var(--dark-color);
    height: 100vh;
}

.side-bar {
    &__logo {
        width: 61px;
        height: 74px;
        margin-bottom: 20px;
    }

    &__menu {
        &-list {
            display: grid;
            grid-gap: $indent-s;
        }

        &-button {
            display: grid;
            align-items: center;
            grid-template-columns: $indent-m 1fr max-content;
            grid-gap: 12px;
            width: 100%;
            padding: $indent-m 12px;
            text-align: left;
            cursor: pointer;
            border: none;
            border-radius: $indent-xxs;
            @include button-2;

            &:hover,
            &:focus-visible,
            &.active  {
                background: var(--dark-hover-color);
                color: var(--primary-color);

                .side-bar__menu-svg {
                    color: var(--primary-color);
                }
            }
        }

        &-svg {
            width: $indent-m;
            height: $indent-m;
        }
    }

    &__title {
        margin-bottom: 20px;
        @include text-medium-1;
    }

    &__subscribers {
        display: flex;
        flex-direction: column;
        gap: $indent-s;
    }

    &__actions {
        display: flex;
        gap: 10px;
        align-items: center;

        &-link {
            color: var(--primary-color);
            @include text-medium-1;
        }

        &-svg {
            color: var(--primary-color);
            width: 6px;
            height: 10px;
        }
    }

    &__footer {
        margin-top: auto;
        padding: $indent-xs $indent-m;
        display: grid;
        grid-template-columns: $indent-xl 1fr $indent-m;
        grid-gap: 12px;
        align-items: center;
        border-radius: 2px;
        background: var(--dark-hover-color);

        &-img {
            width: $indent-xl;
            height: $indent-xl;
            border-radius: 50%;
        }

        &-username {
            color: var(--primary-color);
            @include button-2;
        }

        &-icon {
            color: var(--primary-color);
            height: 14px;
            width: 14px;
        }

    }

}
