<form class="settings__form" [formGroup]="searchForm">
        <div class="settings__form-columns">
            <label class="settings__form-label">
                <span class="settings__form-label-text">Имя пользователя</span>
    
                <input type="text" class="settings__form-input"  formControlName="firstName">
            </label>

            <label class="settings__form-label">
                <span class="settings__form-label-text">Фамилия</span>
    
                <input type="text" class="settings__form-input"  formControlName="lastName">
            </label>
    
    
            <label class="settings__form-label">
                <span class="settings__form-label-text">Навыки</span>
    
                <input type="text" class="settings__form-input" formControlName="stack">
            </label>

        </div>

    <!-- <div class="settings__form-actions">
        <div>
            <button type="submit" (click)="onSave()" class="settings__form-button btn">Сохранить</button>
        </div>
    </div> -->
</form>