@use './reset.scss';
@use './fonts.scss';
@use './typography.scss' as *;

:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
    --grey-color: #5F646D;
    --dark-hover-color: #161616;
    --light-transparent-color: rgba(255, 255, 255, .75);

    --font-stack: 'JetBrainsMono', sans-serif
}

html, body {
    height: 100%;
}

body {
    color: var(--light-color);
    font-family: var(--font-stack);
    background-image: url(/assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-hover-color);
}

.btn {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    @include button-2;
}
