@use './reset.scss';
@use './fonts.scss';
@use './typography.scss' as *;

:root {
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
    --grey-color: #5F646D;
    --dark-hover-color: #161616;

    --font-stack: 'JetBrainsMono', sans-serif
}

body {
    color: var(--light-color);
    font-family: var(--font-stack);
    background-image: url(/assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
