//HEADINGS

@mixin heading-typography($size, $lh, $ls: 0) {
    font-size: $size;
    font-weight: 800;
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin heading-1 {
    @include heading-typography(48px, 56px);
}

@mixin heading-2 {
    @include heading-typography(36px, 46px);
}

@mixin heading-3 {
    @include heading-typography(30px, 38px);
}

@mixin heading-4 {
    @include heading-typography(24px, 32px);
}

@mixin heading-5 {
    @include heading-typography(20px, 28px);
}

@mixin heading-6 {
    @include heading-typography(18px, 24px);
}

//BUTTONS

@mixin button-typography($size, $lh, $ls: 0) {
    font-size: $size;
    font-weight: 700;
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin button-1 {
    @include button-typography(12px, 16px);
}

@mixin button-2 {
    @include button-typography(14px, 24px);
}

@mixin button-3 {
    @include button-typography(16px, 24px);
}

//TEXT

@mixin text-typography($size, $lh, $fw: 400, $ls: 0) {
    font-size: $size;
    font-weight: $fw;
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin text-regular-1 {
    @include text-typography(14px, 21px);
}

@mixin text-medium {
    @include text-typography(12px, 16px, 500);
}
